<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/estilos/perfil.css" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Montserrat:wght@100&display=swap" rel="stylesheet">
   
<link rel="stylesheet" title="main" type="text/css"
href="/estilos/Sin.css">
    <link rel="stylesheet" href="/estilos/font/fontello.css">
    

    
    <!---------nav and header---------->    
    <title>Agroindustria-home</title>
    </head>
    <body>
        
        <section class="header">
            <nav>
               
            
    <header>
        <div class="contenedor">
            
            <h1 class= "noAnda">Agroindustria&nbsp;&nbsp;</h1> 
            <input type="checkbox" id="menu-bar">
            <label class="fontawesome-align-justify" for="menu-bar"></label>
                    <nav class="menu">
                        <a href="/home">HOME</a>
                        <a href="/vacas">LISTADO DE VACAS</a>
                        <a href="/logout">CERRAR SESION</a>
                    </nav>
                </div>
    </header>
            
            </nav>
            
        <div class="name">
        <div class="img">
        <img src="/imagenes/1088906889_0_155_1920_1241_600x0_80_0_0_8cc01d93e438aefd7c62b80fd2e22ce1.jpg" alt="">
{{#with vacas}}
        </div>
            <div class="content">
                <p class="p-1">vaca N°: {{id_vacas}} </p>
                <p class="p-2">{{edad}} años,  </p>
                </div>     
            </div>

        </div>
    <div class="info">
        <p class="tituloSeccion">informacion personal de la vaca: {{id_vacas}} </p>
        <table class="table table-bordered">
            <tbody>
              
                <tr>
                   <th style=""> identificacion</th>  
                   

                </tr>  
                    
                <tr>
                    <th><p style="display:inline">Id de la Vaca:</p> {{id_vacas}}</th> 
                 </tr> 
                 <tr>
                    <th><p style="display:inline">Raza de la Vaca :</p>{{raza}}</th> 
                 </tr> 
                 <tr>
                    <th><p style="display:inline">Edad de la Vaca:</p>{{edad}}</th> 
                 </tr> 
                 <tr>
                    <th><p style="display:inline">Peso de la vaca:</p>{{peso}}</th> 
                 </tr> 
                 {{/with}}
            </tbody>

        </table>

       
        
       
    </div>
        
        </body>
        </html>
