<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Registro y control de vacas  </title>

    <link href="estilos/registro_vacas.css" rel="stylesheet">
  </head>
  <body>
    
    <nav class="navbar navbar-dark bg-mynav">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Registro y control de Vacas</a>
      </div>
    </nav>

    <div class="container">
      <div class="d-flex bd-highlight mb-3">
        <div class="me-auto p-2 bd-highlight"></div>
          <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-secondary" id="lote"> <a href="lote_vacas.html">Agregar Lote</a></button>
      </div>
        <div class="p-2 bd-highlight">
          <button type="button" class="btn btn-secondary" id="agregar"><a
            href="formulario_vacas.html">Agregar</a></button>
        </div>
      </div>
      
    <h1>{{name}}</h1>
  
      <br>
    <p>Aqui encontraras todo sobre tus vacas</p>
    <br>
      <div id="table-responsive">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              
              <th scope="col">Id </th>
              <th scope="col">Raza </th>
              <th scope="col">Edad </th>
              <th scope="col">Peso </th>
              <th scope="col"></th>
              <th scope="col">Acciones</th>
              
            </tr>
          </thead>
          <tbody >
             {{#each vacas}}
            <tr>
              <th scope="row" ><a href="/perfilvacas/{{id_vacas}}">{{id_vacas}}</a></th>
              <th scope="row" >{{raza}}</th>
              <td>{{edad}}</td>
              <td>{{peso}}</td>
              <td>{{id_animal}}</td>
              <td>  
                <a href="/delete/{{id_vacas}}" id="delete"  class="btn btn-danger">Borrar vaca</a> 
            
              <a href="/editar_vacas/{{id_vacas}}" id="update"  type="sumbit" class="btn btn-secondary">actualizar vaca</a>
             
           <!----<a href="/vacas/update/{{id_vacas}}"  id="update" class="btn btn-secondary">actualizar vaca</a>---->     
                
            <a href="/perfilvacas/{{id_vacas}}"  id="perfilvacas" class="btn btn-secondary">ver vaca</a>
              </td>
            
            </tr>
             {{/each}}
              
          </tbody>
        </table>
      </div>
    </div>

   
  </body>
</html>